@page "/"
@attribute [Authorize]
@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient Http

<PageTitle>Wallets</PageTitle>

<h1>Wallets</h1>

@if (Wallets == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h3>Totals: @Totals()</h3>
    @if (Wallets.Length == 0)
    {
        <p>You don't have any wallet!</p>
        <a href="createwallet">Create new Wallet</a>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Balance</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var s in Wallets)
                {
                    <tr>
                        <td><a href="walletbalance/@s.Id">@s.Name</a></td>
                        <td>@s.Balance</td>
                        <td>@s.Note</td>
                    </tr>
                }
                <tr>
                    <td><a href="createwallet">Create new Wallet</a></td>
                </tr>
            </tbody>
        </table>
    }
}

@code {
    private WalletResponseDto[] Wallets;

    protected override async Task OnInitializedAsync()
    {
        Wallets = (await Http.GetFromJsonAsync<WalletResponseDto[]>("api/wallet")).ToArray();
    }

    private float Totals() => Wallets.Sum(w => w.Balance);

    public class WalletResponseDto
    {
        public Guid Id { get; set; }
        public string Name { get; set; }
        public float Balance { get; set; }
        public string Note { get; set; }
    }
}
